<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
      <div class="container">
            <div class="row">
                <div class="col-lg-6  margin margin-top">
                  <div class="h_class">
                      <h4>Kontakt</h4><br>
                  </div><br>
                  <div class="col-md-12 display_div">
                    <div class="row">
                        <div class="col-xs-12 margin">
                          <input id="tworca"  type="hidden" value="Marcel Garczyk">Twórca: Marcel Garczyk<br><br>
                          <input id="email"   type="hidden" value="mail@mail.com">E-mail: mail@mail.com<br><br>
                          <input id="telefon" type="hidden" value="123 456 789">Telefon: 123 456 789<br><br>
                          <input id="github"  type="hidden" value="https://github.com/mgarczyk">Github: mgarczyk<br><br>
                        </div>
                        <div class="col-xs-12 text-center margin">
                            <button class="btn-primary btn-md" onclick="copy_tworca()">Kopiuj</button><br><br>
                             <button class="btn-primary btn-md" onclick="copy_email()">Kopiuj</button><br><br>
                             <button class="btn-primary btn-md" onclick="copy_telefon()">Kopiuj</button><br><br>
                             <button class="btn-primary btn-md" onclick="copy_github()">Kopiuj</button><br><br>
                        </div>
                    </div>
                </div>
                <br>
                <a href="../index.html"><input type="button" class="btn-primary btn-max" value="Strona główna"/></a><br><br>
                </div>
            </div>
      </div>     
    </body>
    <script>
       function copy_tworca() {
          var copyText = document.getElementById("tworca");
          copyText.type = 'text';
          copyText.select();
          document.execCommand("copy");
          copyText.type = 'hidden';
        }
        function copy_email() {
          var copyText = document.getElementById("email");
          copyText.type = 'text';
          copyText.select();
          document.execCommand("copy");
          copyText.type = 'hidden';
        }
        function copy_telefon() {
          var copyText = document.getElementById("telefon");
          copyText.type = 'text';
          copyText.select();
          document.execCommand("copy");
          copyText.type = 'hidden';
        }
        function copy_github() {
          var copyText = document.getElementById("github");
          copyText.type = 'text';
          copyText.select();
          document.execCommand("copy");
          copyText.type = 'hidden';
        }
        </script>
        
</html>
