<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../bootstrap_itd/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/main.css"> 
    </head>
    <body>
      <div class="container">
            <div class="row">
                <div class="col-lg-6 margin margin-top">
                  <div class="h_class">
                      <h4>Wybierz kurs</h4><br>
                  </div>
                  <br>
                  <form class="text-center" name="form_nauka_kurs" method="post" action="">
                      <div class="col-md-12 h_class_outline">
                        <h4>Polski</h4>
                      </div><br>
                      <input class="form-control" type="text" name="sprawdz" placeholder="Wpisz tłumaczenie"><br>
                      <input type="submit" class="btn-primary btn-max" value="Potwierdź"/></a><br><br>
                      <input type="submit" class="btn-primary btn-max" value="Zapisz wynik i zakończ"/></a><br><br>
                  </form>
                  <a href="wybor_kurs.html"><input type="button" class="btn-primary btn-max" value="Wybierz inny kurs" /></a><br><br>
                </div>
              </div>
          </div>
    </body>
</html>
