<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/main.css"> 
    </head>
    <body>
      <div class="container">
            <div class="row">
                <div class="col-lg-6 margin margin-top">
                  <div class="h_class">
                      <h4>Wybierz kurs</h4><br>
                  </div>
                  <br>
                  <form class="text-center" name="form_wybor_kurs" method="post" action="">
                    <select class="form-control" name="select_kurs"  >
                      <option value="1">Kurs 1: Sytemy Operacyjne, z Polski na Angielski</option>
                      <option value="2">Kurs 2: Urządzenia Techniki Komputerowej, z Angielski na Polski</option> <!-- Przykładowe dane z bazy -->
                    </select><br>
                    <a href="nauka_kurs.html"><input type="button" class="btn-primary btn-max" value="Rozpocznij naukę" /></a><br><br>
                  </form>
                  <a href="tworzenie_kurs.html"><input type="button" class="btn-outline-primary btn-max" value="Stwórz inny kurs" /></a><br><br>
                  <a href="../index.html"><input type="button" class="btn-primary btn-max" value="Strona główna" /></a><br><br>
                </div>
              </div>
          </div>
    </body>
</html>
