<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../css/logo_rej.css">
    </head>
    <body>
      <div class="container login-container">
            <div class="row">
                <div class="col-lg-6 login-form-1 margin">
                  <div class="h_class">
                      <h4>Resetowanie hasła</h4><br>
                  </div>
                  <br>
                  <form class="text-center">
                    <p class="text-justify">Wpisz swój adres e-mail, który był przez Ciebie użyty do rejestracji.
                      Wyślemy do Ciebie wiadomość e-mail umożliwiającą zresetowanie hasła.</p>
                    <input type="email" class="form-control" placeholder="Podaj e-mail" value="" /><br>
                    <input type="submit" class="btn-primary" value="Wyślij"/><br><br>
                    <a href="logowanie.html"><input type="button" class="btn-outline-primary" value="Powrót do logowania" /></a><br><br>
                  </form>
                </div>
              </div>
          </div>
    </body>
</html>
