<!DOCTYPE html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
      <div class="container login-container">
            <div class="row">
                <div class="col-lg-6 login-form-1 margin">
                  <div class="h_class">
                      <h4>Logowanie</h4><br>
                  </div>
                  <br>
                  <form class="text-center">
                    <input type="email" class="form-control" placeholder="E-mail" value="" /><br>
                    <input type="password" class="form-control" placeholder="Hasło" value="" /><br>
                    <input type="submit" class="btn-primary" value="Zaloguj" /><br><br>
                    <a href="rejstracja.html"><input type="button" class="btn-outline-primary" value="Zarejstruj się" /></a><br><br>
                    <a href="haslo.html"><input type="button" class="btn-primary" value="Zapomniałeś hasła?" /></a><br><br>
                  </form>
                </div>
              </div>
          </div>
    </body>
</html>
