<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../bootstrap_itd/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
      <div class="container login-container">
            <div class="row">
                <div class="col-lg-6 login-form-1 margin margin-top">
                  <div class="h_class">
                      <h4>Logowanie</h4><br>
                  </div>
                  <br>
                  <form class="text-center">
                    <input type="email" class="form-control" placeholder="E-mail" value="" /><br>
                    <input type="password" class="form-control" placeholder="Hasło" value="" /><br>
                    <input type="submit" class="btn-primary btn-max" value="Zaloguj" /><br><br>
                    <a href="rejstracja.html"><input type="button" class="btn-outline-primary btn-max" value="Zarejstruj się" /></a><br><br>
                    <a href="haslo.html"><input type="button" class="btn-primary btn-max" value="Zapomniałeś hasła?" /></a><br><br>
                  </form>
                </div>
              </div>
          </div>
    </body>
</html>
