<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
      <div class="container login-container">
            <div class="row">
                <div class="col-lg-6 login-form-1 margin margin-top">
                  <div class="h_class">
                      <h4>Rejstracja</h4><br>
                  </div>
                  <br>
                  <form class="text-center">
                    <input type="email" class="form-control form-rounded" placeholder="Podaj e-mail" value="" /><br>
                    <input type="password" class="form-control" placeholder="Podaj hasło" value="" /><br>
                    <input type="password" class="form-control" placeholder="Powtórz hasło" value="" /><br>
                    <input type="submit" class="btn-primary btn-max" value="Zarejstruj" /><br><br>
                    <a href="logowanie.html"><input type="button" class="btn-outline-primary btn-max" value="Masz już konto? Zaloguj się" /></a><br><br>
                </div>
              </div>
          </div>
    </body>
</html>
