$main-color: #108E84;
$button-onclik-color: #0339A6;
body{
    font-family: 'Helvetica';
    font-size: 17px;
    background-color: #D0D8D9;
}
h4{
  font-weight: bold;
  color: white;
}
a{
  text-decoration: none;
}
.margin{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}
.btn-primary{
  color:white;
  width: 100%;
  border-radius: 1.5rem;
  padding: 1.5%;
  border: $main-color 2px solid;
  background-color: $main-color;
  font-weight: bold;
}
.btn-primary:hover{
  background-color: white;
  border: $button-onclik-color solid 2px;
  color: $button-onclik-color;
}
.btn-outline-primary{
  width: 100%;
  border-radius: 1.5rem;
  padding: 1.5%;
  border: $main-color 2px solid;
  cursor: pointer;
  color: $main-color;
  font-weight: bold;
}
.btn-outline-primary:hover{
  background-color: $button-onclik-color;
  border: $button-onclik-color solid 2px;
  color: white;
}
.form-control{
    border: $main-color 1.5px solid;
    border-radius: 1.5rem;
}
.form-control:focus, .form-control:active, .form-control.active, .open>.dropdown-toggle.form-control {
  border-color: $main-color;
  box-shadow: inset 0 1px 1px $main-color, 0 0 8px $main-color;
}
.ForgetPwd{
  color: $main-color;
}
.h_class{
  padding-top: 15px;
  background-color: $main-color;
  width: 100%;
  border-radius: 1.5rem;
  text-align: center;
  height: 60px;
}
.display_div{
    width: 100%;
    height: 100%;
    color: $main-color;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
    border: solid 2px #108E84;
    border-radius: 1.5rem;
    background-color: white;
    padding: 10px;
}
