body {
  font-family: 'Helvetica';
  font-size: 17px;
  background-color: #D0D8D9;
}

.margin {
  margin-left: auto;
  margin-right: auto;
}

.margin-top {
  margin-top: 20vh;
}

.btn-primary {
  color: white;
  border-radius: 1.5rem;
  padding: 1.5%;
  border: #108E84 2px solid;
  background-color: #108E84;
  font-weight: bold;
}

.btn-max {
  width: 100%;
}

.btn-half {
  width: 50%;
}

.btn-primary:hover {
  background-color: white;
  border: #1C23A6 solid 2px;
  color: #1C23A6;
}

.btn-outline-primary {
  border-radius: 1.5rem;
  padding: 2%;
  border: #108E84 2px solid;
  cursor: pointer;
  color: #108E84;
  font-weight: bold;
}

.btn-outline-primary:hover {
  background-color: #1C23A6;
  border: #1C23A6 solid 2px;
  color: white;
}

.form-control {
  border: #108E84 1.5px solid;
  border-radius: 1.5rem;
}

.form-control:focus, .form-control:active, .form-control.active, .open > .dropdown-toggle.form-control {
  border-color: #108E84;
  box-shadow: inset 0 1px 1px #108E84, 0 0 8px #108E84;
}

.ForgetPwd {
  color: #108E84;
}

.h_class {
  padding-top: 15px;
  background-color: #108E84;
  width: 100%;
  border: solid 2px #108E84;
  border-radius: 1.5rem;
  text-align: center;
  height: 60px;
  color: white;
}

.h_class_outline {
  padding-top: 15px;
  background-color: white;
  width: 100%;
  border: #108E84 solid 2px;
  border-radius: 1.5rem;
  text-align: center;
  height: 60px;
  color: #108E84;
}

h4, h3, h2 {
  font-weight: bold;
}

.display_div {
  width: 100%;
  height: auto;
  color: #108E84;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
  border: solid 2px #108E84;
  border-radius: 1.5rem;
  background-color: white;
  padding: 15px;
  text-align: justify;
}

.display_div_outline {
  width: 100%;
  height: auto;
  color: white;
  line-height: 30px;
  font-weight: bold;
  backface-visibility: hidden;
  border: solid 2px #108E84;
  border-radius: 1.5rem;
  background-color: white;
  padding: 15px;
  text-align: justify;
}

.div-none-background {
  width: 100%;
  height: auto;
  color: #D0D8D9;
  line-height: 30px;
  font-weight: bold;
  backface-visibility: hidden;
  padding: 15px;
  text-align: justify;
}

.navbar-light {
  background-color: #108E84;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
  border-bottom: solid 2px transparent;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

.navbar-light .navbar-nav .navbar-line:hover {
  border-bottom: solid 2px white;
}

.navbar .navbar-brand {
  color: white;
  font-weight: bold;
  border-bottom: solid 2px transparent;
}

.navbar .navbar-brand:hover {
  color: white;
  border-bottom: solid 2px white;
}

.navbar-light .navbar-toggler {
  border: solid 1px white;
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.footer {
  clear: both;
  width: 100%;
  background-color: #108E84;
  padding-top: 80px;
  color: white;
}

.footer-widget {
  padding-bottom: 5px;
}

.footer-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: white;
}

.footer-widget ul li a {
  color: white;
  display: block;
  font-weight: bold;
  line-height: 35px;
  font-size: 16px;
  border-bottom: solid 2px transparent;
}

.footer-widget ul li a:hover {
  display: block;
  font-weight: bold;
  line-height: 35px;
  font-size: 16px;
  border-bottom: solid 2px white;
  text-decoration: none;
}

.small-footer {
  font-size: 14px;
  font-weight: bold;
}

.footer-margin {
  margin-top: 35vh;
}

hr {
  border: solid 1px white;
  border-radius: 1.5rem;
}

.white-space {
  white-space: pre;
}

.icon {
  color: #108E84;
  font-weight: bold;
  background-color: white;
  text-align: center;
  height: auto;
}

.list-unstyled {
  list-style: none;
}
